$pantones: (
  123:    rgb(86, 125, 100), // Academy Green
  345:    rgb(138, 202, 160), // Green
  7707:   rgb(64, 75, 84), //Grey Darkest
  7545:   rgb(75, 89, 101), // Grey Dark
  7005:   rgb(102, 109, 112), // Grey mid
  428:    rgb(198, 205, 209), // Grey light
  427:    rgb(216, 220, 219), // Grey lightest
  7465:   rgb(0, 121, 107), // Trade, Investment & economic
  577:    rgb(51, 105, 30), //Understanding Australia
  7591:   rgb(180, 0, 78), // Language
  431:    rgb(73, 89, 101), // Strategic & Specalist Programs
  2220c:  rgb(0, 131, 143), // International Policy & Strategies
  7738:   rgb(191, 54, 12), // Diplomatic Tradecraft
  2020c:  rgb(81, 45, 168), // Consular & passport Services
  7474:   rgb(21, 101, 192), // International Development
  7730:   rgb(188, 81, 0), //Corporate Services
  7592:   rgb(142, 0, 0), // Legal
);

@function pantone($code) {
  @if map-has-key($pantones, $code) {
    @return map-get($pantones, $code);
  }

  @warn "Unknown `#{$code}` in $pantones.";
  @return null;
}

body.not-front #content .content-header .content-header-inner h1 {
  @each $code, $color in $pantones {
    &.pantone-#{$code} {
      color: white;
      background: $color;
      margin-top: 1rem;
      margin-left: -1.25rem;
      padding-left: 1.25rem;
      + .faculty-badge {
        color: $color;
      }
    }
  }
}
