#page #main, #footer  {
  a {
  border-bottom: 0;
  text-decoration: underline;
  &:hover, &:active {
    color: $primary_3;
    background-color: transparent;
  }
  > img:hover {
    opacity: 0.5;
  }
  }
  #block-views-latest-news-related a {
    color: white;
    &:hover, &:focus {
      color: $academy_green;
      background: white;
    }
  }
  .field-name-field-bean-image a {
    border-bottom: none;
  }
  h2 a {
    border-bottom: none;
  }
  #content .view .view-content .views-row h2 a:focus {
    background-color: $academy_light_grey;
  }
}

#header .header__inner .header__secondary-menu a {
  &:hover, &:active, &:focus {
    color: $primary_3;
    background-color: transparent;
    text-decoration: underline;
  }
}
